h1,h2{
    text-align: center;
}

.button-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.btn{
    width: 100px;
}

#entries{
    text-align: center;
}

